/*визуальное оформление клеток */

.cell {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #FFF6DF;
    border: 1px solid #464646;
    box-shadow: inset 0 0 7px 4px rgba(158, 155, 70, 0.6);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-start {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: inset 0 0 7px 4px rgba(49, 171, 239, 0.6);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #C3C3C3;
}

.cell-start p {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    color: black;
}

.cell-finish, .cell-deadend {
    position: absolute;
    width: 40px;
    height: 40px;
}

.cell-yellow {
    background-color: #FCF327;
}

.cell-yellow p {
    color: #A8A8A8;
}

.cell-orange {
    background-color: #ff7700;
}

.cell-green {
    background-color: #28DD24;
}

.cell-green p, .cell-orange p {
    color: #E7E7E7;
}

.cell-red {
    background-color: #EF0000;
}

.cell-red p {
    color: #B8B8B8;
}

.cell-checkpoint {
    background-color: #94F2FF;
    box-shadow: inset 0 0 7px 4px rgba(70, 148, 158, 0.6);
}

.cell-checkpoint div {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid #464646;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-checkpoint p {
    color: #464646;
    font-weight: bold;
}

.cell-black {
    background-color: #000000;
    box-shadow: inset 0 0 6px 3px rgba(255, 255, 255, 0.2);
}

.cell .cell__bonus {
    position: absolute;
    bottom: -2px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 13px;
}

.cell-arrow-node {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: url("../img/cubic/cubic-small.png") no-repeat center white;
    box-shadow: inset 0 0 7px 5px rgba(0, 87, 255, 0.59);
}

.cell-hatched {
    background-image: url("../img/cell-hatched.png");
}

.cell-hatched p {
    color: red;
}

.cell-joker {
    box-shadow: inset 0 0 7px 4px #8c2bd299;
}

.cell-joker-item {
    width: 40px;
    height: 40px;
    background: #11161d;
    box-shadow: 0 0 3px 1px #1ab31b inset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
}

.cell-joker-item img {
    height: 32px;
}

.cell-joker p {
    color: rgb(127, 61, 177);
    font-size: 22px;
    font-weight: bold;
}

.cell-jail {
    position: absolute;
    width: 45px;
    height: 65px;
    margin: -25px 0 0 -2px;
    background-image: url("../img/tokens/token-white.png");
}

.cell-jail img {
    transform-origin: 0;
}

.cell-chest {
    position: absolute;
    width: 80px;
    height: 71px;
    background-image: url("../img/chest/chest-closed.png");
}

.cell-chest img {
    position: absolute;
    visibility: hidden;
}

.cell-chest p {
    position: absolute;
    color: #1ab31b;
    bottom: 3px;
    left: 32px;
    font-size: 15px;
    margin: 0;
}

.chest__bomb {
    bottom: 0;
    transition: 1.5s;
}

.cell-chest .blast {
    bottom: -95px;
    left: -109px;
    z-index: 510;
    transition: .2s linear;
    transform: scale(0.1);
}

.cell--magnet {
    box-shadow: 0 0 3px 3px #b8b0ff;
    z-index: 1;
}