* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFEAB4;
    background-image: url("../img/bg/start-screen-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

h1 {
    font-family: "Russo One", sans-serif;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

h2 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

p, a {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
    background-color: #fff5cf;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(248, 160, 15, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.bg-design {
    background: #FFEAB4;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 3px 2px rgba(255, 255, 255, 0.72);
}

.header {
    height: 40px;
}

.header__cont {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__button {
    width: 112px;
    background-color: #C7A449;
    height: 40px;
    z-index: 2;
    cursor: pointer;
    transition: .4s;
}

.header__button button {
    width: 100px;
    height: 40px;
    background-color: #E8C56D;
    margin-left: 6px;
    color: #6E6E6E;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    transition: .4s;
}

.start-screen {
    width: 100%;
    height: 700px;
    position: relative;
}

.jungles {
    width: 100%;
    position: relative;
}

.jungles img {
    position: absolute;
}

.jungles__top {
    left: 0;
    right: 0;
    margin: auto;
}

.jungles__right {
    right: 0;
    z-index: 2;
}

.jungles__left {
    z-index: 2;
}

.menu {
    display: none;
    width: 280px;
    margin: auto;
    position: relative;
    top: 12px;
    z-index: 10;
}

.menu__burger {
    position: absolute;
    right: 10px;
    top: 17px;
    z-index: 20;
}

.menu__cont {
    display: none;
    width: 190px;
    height: 233px;
    background: #1B2434;
    border-radius: 7px 0 0 7px;
    position: absolute;
    right: -200px;
    top: 12px;
    z-index: 5;
    padding: 50px 0 0 34px;
    transition: .4s;
}

.menu__close {
    display: none;
    position: absolute;
    top: 16px;
    left: 20px;
}

.menu__option {
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}

.menu__cont hr {
    width: 130px;
    border-color: #686868;
    margin-left: 0;
}

.start-screen__div {
    width: 744px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
}

.start-screen__div h1 {
    font-size: 24px;
    color: #FFBB55;
    width: 316px;
    text-transform: none;
    font-weight: normal;
    position: absolute;
    left: 504px;
    top: 57px;
}

.start-screen__d {
    position: absolute;
    z-index: -1;
}

.start-screen__logo {
    position: absolute;
    top: 63px;
    left: 38px;
}

.enter {
    width: 326px;
    height: 258px;
    background: #D2EEFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding-top: 33px;
    position: relative;
}

.start-screen__enter {
    position: absolute;
    top: 292px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 5;
}

.enter__cubic {
    position: absolute;
    top: -30px;
    right: -30px;
}

.enter__form {
    width: 246px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.enter__login, .enter__pass {
    height: 32px;
    padding-left: 15px;
}

.enter__error {
    color: red;
    margin: 2px 0 7px 3px;
    font-weight: normal;
    font-size: 14px;
    visibility: hidden;
}

.enter__check-div {
    display: flex;
    align-items: center;
}

.enter__check-div p {
    margin: 0;
    font-size: 12px;
}

.enter__check-div input {
    margin: 10px 7px 14px 0;
}

.enter__check-div .enter__forgot {
    text-decoration-line: underline;
    cursor: pointer;
    margin-left: 81px;
    font-size: 11px;
}

.enter__button {
    width: 126px;
    height: 31px;
    background: #E9971E;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 3px 5px 4px rgba(255, 255, 255, 0.31);
    border-radius: 14px;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
    color: white;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.enter__footer {
    width: 326px;
    height: 53px;
    background: #1B2434;
    border-radius: 0 0 4px 4px;
    position: absolute;
    bottom: 0;
    padding: 16px 37px;
    display: flex;
    justify-content: space-between;
}

body .reg {
    position: fixed;
}

.enter__reg {
    font-size: 16px;
    color: white;
    text-decoration-line: underline;
    margin: 0;
    cursor: pointer;
}

.enter__socials a {
    margin-right: 3px;
}

.pres {
    width: 100%;
    position: relative;
    padding: 45px 0;
    z-index: 5;
}

.pres__head, .pres__des {
    text-align: center;
    margin: 0 auto 35px;
}

.pres__des {
    font-weight: 300;
}

.pres__ss-cont {
    width: 970px;
    margin: 0 auto 85px;
    position: relative;
    height: 420px;
}

.pres__ss {
    position: absolute;
    border: 4px solid #E8AD3B;
}

.pres__ss-1 {
    width: 336px;
}

.pres__ss-2 {
    width: 368px;
    top: 23px;
    left: 316px;
    z-index: 2;
}

.pres__ss-3 {
    width: 313px;
    right: 0;
    top: 107px;
}

.pres__head--russo {
    margin-bottom: 70px;
}

.pres__bullets-cont {
    width: 1025px;
    margin: 0 auto 90px;
    display: flex;
    justify-content: space-between;
}

.pres__bullet {
    width: 316px;
    height: 122px;
    border: 4px solid #E8AD3B;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pres__bullet p {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    color: #373737;
}

.pres__more-cont {
    width: 880px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pres__more-p1 {
    width: 650px;
}

.pres__more-p2 {
    width: 600px;
    text-align: right;
}

.pres__speed {
    margin-right: 10px;
}

.pres__cup {
    margin-left: 40px;
}

.gallery-mobile {
    display: none;
    width: 295px;
    height: 580px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.gallery-mobile__sc {
    width: 250px;
    margin-bottom: 15px;
}

.gallery {
    padding: 80px;
}

.gallery h1 {
    margin: 0 0 40px 0;
    color: white;
    text-align: center;
}

.gallery__cont {
    width: 1115px;
    margin: 0 auto;
    height: 502px;
    position: relative;
}

.gallery__cont > * {
    position: absolute;
}

.gallery__left, .gallery__right {
    z-index: 20;
    top: 0;
    bottom: 0;
    margin: auto;
}

.gallery__left {
    left: 155px;
    transform: rotate(180deg);
}

.gallery__right {
    right: 155px;
}

.gallery__sc1 {
    width: 540px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.gallery__sc2 {
    width: 736px;
    z-index: 10;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 8px 15px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}

.gallery__big {
    width: inherit;
    display: none;
    z-index: 30;
    cursor: pointer;
}

.gallery__sc3 {
    width: 540px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.gallery__black {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    height: 370px;
}

.gallery__slide {
    height: 370px;
    width: 172px;
    z-index: 25;
    cursor: pointer;
    top: 0;
    bottom: 0;
    margin: auto;
}

.gallery__slide-right {
    right: 0;
}

.popup__screenshot {
    position: absolute;
}

.stat h1 {
    margin: 0 0 40px 0;
    text-align: center;
}

.stat {
    padding: 80px 0 30px 0;
}

.top-heading, .stat-heading {
    width: 1110px;
    background-color: red;
    height: 57px;
    display: flex;
    padding-left: 25px;
    margin: 0 auto;
}

.top-heading p, .stat-heading p {
    line-height: 57px;
    margin: 0;
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.top-heading__place {
    width: 77px;
}

.top-heading__username, .top__username {
    width: 204px;
}

.top-heading__character, .top__character {
    width: 168px;
}

.top-heading__money, .top__money {
    width: 92px;
}

.top-heading__rep, .top__rep-div {
    width: 153px;
}

.top-heading__time, .top__time {
    width: 150px;
}

.top-item, .stat-item {
    width: 1110px;
    height: 40px;
    margin: 10px auto 0;
    background-color: #FFF5DC;
    display: flex;
    align-items: center;
    padding-left: 43px;
}

.top-item p, .stat-item p {
    line-height: 44px;
    font-weight: normal;
    color: #545454;
    margin: 0;
    font-size: 16px;
}

.top__rep-div {
    height: 44px;
    display: flex;
    align-items: center;
}

.top__rep-div img {
    width: 22px;
}

.top__place {
    width: 60px;
}

.stat__cont-btn {
    width: 1110px;
    margin: 40px auto 30px;
    display: flex;
    justify-content: flex-end;
}

.stat__btn {
    width: 264px;
    height: 39px;
    background: #E91E1E;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 3px 5px 4px rgba(255, 255, 255, 0.31);
    border-radius: 14px;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.stat__btn img {
    transform: rotate(0deg);
    margin-left: 17px;
}

.stat__cont {
    width: 1110px;
    height: 0;
    overflow-y: hidden;
    transition: .4s;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.stat-heading {
    padding-left: 36px;
    width: 782px;
}

.stat-heading__name {
    width: 248px;
}

.stat-heading__des, .stat__des {
    width: 329px;
}

.stat-item {
    padding-left: 36px;
    width: 767px;
}

.stat-item .stat__des {
    line-height: 18px;
    width: 341px;
}

.stat-item .stat__name {
    line-height: 18px;
    width: 183px;
}

.stat-scroll {
    height: 450px;
    overflow-y: scroll;
}

.stat__trophy {
    width: 25px;
    margin-right: 25px;
}

.stat__name {
    width: 199px;
}

.common {
    margin-right: 38px;
}

.common__h2 {
    color: #545454;
    font-size: 18px;
    text-shadow: none;
    margin: 0 0 30px 0;
}

.common__wrap {
    display: none;
    flex-direction: column;
}

.common__wrap p {
    color: #545454;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    margin: 0 0 7px 0;
}

.common__wrap p span {
    font-weight: normal;
}

.span__red {
    color: red;
    font-weight: bold;
}

.stat__reg {
    width: 672px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 65px auto;
}

.stat__enter {
    margin: 0;
}

.about {
    padding-top: 80px;
}

.about h1 {
    color: white;
    text-align: center;
    margin: 0 0 60px 0;
}

.about__cont {
    width: 893px;
    margin: 0 auto;
}

.about__block {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
}

.about__block > *:first-child {
    margin-right: 40px;
}

.about__img {
    height: 178px;
}

.about__block--reaktor img {
    width: 95px;
    height: auto;
}

.about__block h2 {
    font-size: 18px;
    color: #FFBB55;
    margin: 0 0 20px 0;
    text-shadow: none;
}

.about__block p, .about__block a {
    font-size: 16px;
    color: white;
}

.about__block--reaktor p {
    width: 650px;
}

.about__imgs {
    position: relative;
}

.adult {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 42px;
}

.about__block--trap {
    justify-content: flex-end;
    margin: -78px 0 0 0;
}

.about__block--trap h2, .about__block--trap p {
    text-align: right;
}

.about__block--trap h2 {
    margin-top: 15px;
}

.about__block--trap2 h2 {
    margin-top: 35px;
}

.about__block--jumpers {
    margin-top: 88px;
}

.about__block--jumpers img {
    width: 133px;
}

.about__block--jumpers p {
    width: 650px;
}

footer {
    padding: 30px 0;
}

.footer__cont {
    width: 893px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer__block a {
    display: flex;
    flex-direction: column;
}

.footer__block a, .footer__block p {
    font-size: 16px;
    margin: 5px;
    color: #414141;
}

/*ПОПАПЫ*/

.popup {
    width: 1px;
    height: 1px;
    background: #d2eeff;
    position: absolute;
    box-shadow: 0 29px 10px 12px rgba(0, 0, 0, 0.44), inset 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
    transition: .4s;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 1010;
    display: none;
}

.popup__content {
    display: none;
    margin: 10px 30px;
}

.popup__head {
    width: 100%;
    height: 45px;
    background-color: #1B2434;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.popup__head h2 {
    font-size: 13px;
    line-height: 45px;
    color: white;
}

.popup__warn {
    width: 23px;
    height: 23px;
    border-radius: 100%;
    background-color: white;
    margin: 0 15px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__warn img {
    height: 80%;
}

.overlay__popup-hard {
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.reg__label {
    margin: 0 0 4px 0;
    font-weight: normal;
    font-size: 14px;
}

.reg__form input, .recover__form input {
    width: 200px;
    height: 24px;
    margin-bottom: 20px;
}

.reg__form > .reg__note, .recover__form > .reg__note{
    margin: 22px 0 0 0;
}

.reg__error {
    color: red;
    margin: -19px 0 0 0;
    font-weight: normal;
    font-size: 12px;
    position: absolute;
    display: none;
}

.reg__note {
    font-weight: 300;
    font-size: 11px;
}

.reg__form .reg__error--cap {
    margin: -2px 0 0 0;
}

/*КНОПКИ*/

.popup__button {
    width: 120px;
    height: 28px;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 3px 3px -2px rgba(255, 255, 255, 0.6) inset, -2px -3px 3px -2px rgba(0, 0, 0, 0.6) inset;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffbb55;
    text-transform: uppercase;
}

.popup__button--cancel {
    width: 110px;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: none;
    font-size: 12px;
}

.popup__button--cancel img {
    height: 80%;
    margin: 0 10px 0 10px;
}

.popup__button:hover {
    background-color: #ff4d00;
}

.popup__button-flex {
    width: 82%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
}

.popup__cookies {
    position: fixed;
}

.popup__cookies .popup__button-flex {
    justify-content: center;
    width: 100%;
    margin-left: -20px;
}

.popup__cookies p {
    font-size: 13px;
    margin: 20px 11px;
}

.popup__stop {
    width: 280px;
    height: 330px;
    display: block;
}

.popup__stop .popup__content {
    display: block;
}

.popup__stop .popup__button-flex {
    justify-content: center;
    margin-left: -9px;
}

.popup__stop .popup__content p {
    font-size: 14px;
}

.cookie__cont {
    width: 290px;
    height: 115px;
    background: #1B2434;
    border-radius: 10px 0 0 10px;
    position: fixed;
    right: -291px;
    bottom: 40px;
    z-index: 999;
    padding: 30px 0 0 40px;
    display: none;
    transition: .8s linear;
}

.cookie__cont p {
    color: #AEAEAE;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    width: 250px;
}

.cookie__cont .cookie__more {
    text-decoration: underline;
    cursor: pointer;
}

.cookie__cont img {
    position: absolute;
    top: 13px;
    left: 20px;
    cursor: pointer;
}

.cookie__cont button {
    width: 103px;
    height: 28px;
    background: #D2EEFF;
    border-radius: 6px;
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.loading-div {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc263;
}

.loading-div img {
    width: 70px;
}

.common .common__loading {
    width: 208px;
    height: 453px;
}

.debug {
    color: white;
}

